[Desktop Entry]
Encoding=UTF-8
Name=Fantasdic dictionary
GenericName=Dictionary application
Comment=DICT client
Exec=/usr/bin/fantasdic
Terminal=false
Type=Application
Categories=Utility;
Icon=fantasdic
