[Desktop Entry]
Encoding=UTF-8
Name=Fantasdic dictionary
GenericName=Dictionary application
Comment=Look up words in various dictionary sources
Exec=/usr/bin/fantasdic
Terminal=false
Type=Application
Categories=Utility;
Icon=fantasdic
